:root{
    --main-font: sans-serif;
}

body{
    display:flex;
    flex-direction:column;
    font-family:var(--main-font);
}

h1{
    font-size: 5em;
}

#welcome{
    background:linear-gradient(70deg, #5894f5,#54ffac);
    width:100vw;
    height:100vh;
    text-align:center;
    color:white;
    margin:auto;
}